.header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131921;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header__logo {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__searchIcon {
  padding: 4px;
  height: 22px;
  background-color: #cd9042;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}

.header__navOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__navOption__lineOne {
  font-size: 10px;
  color: white;
  text-decoration: none;
}

.header__navOption__lineTwo {
  font-size: 13px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

.header__basketOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}

.header__basketCount {
  margin-right: 10px;
  margin-left: 10px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__container__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  z-index: 1;
  background: white;
}

.product > img {
  max-height: 200px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 15px;
}

.product__Info {
  height: 100px;
  margin-bottom: 15px;
}

.product__Info__price {
  margin-top: 15px;
}

.product__Info__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734;
  color: #111;
}

.product > button:hover {
  cursor: pointer;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.checkout__left__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__left__title {
  padding: 10px;
  margin-right: 10px;
  border-bottom: 1px solid lightgray;
}

.subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal > button {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734;
  color: black;
}

.subtotal__gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.checkoutProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734;
  color: black;
}

.checkoutProduct__info > button:hover {
  cursor: pointer;
}

.checkoutProduct__info__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkoutProduct__info__title {
  font-size: 18px;
  font-weight: 800;
}

.checkoutProduct__image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 180px;
  height: 180px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.login__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login__container > h1 {
  margin-bottom: 20px;
  font-weight: 500;
}

.login__container > form > h4 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__container__signInButton {
  background-color: #f0c14b;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734;
}

.login__container__registerButton {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  margin-top: 10px;
  border: 1px solid darkgray;
}

.login__logo {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 20px auto 20px auto;
}

.payment {
  background-color: white;
}
/*# sourceMappingURL=main.css.map */